<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Post Create')">
</head>
<body>
<div th:replace="partials :: navbar"></div>
<main role="main" class="container">
    <br />
    <h2>Edit a Post!</h2>
    <!--form's inputs map directly to columns in the database;
        a common way-->
    <!--<form action="/posts/create" method="post">-->
    <!--Title:-->
    <!--<input name="title" />-->
    <!--<br />-->
    <!--Description:-->
    <!--<input name="body" />-->
    <!--<br />-->
    <!--<input type="submit" />-->
    <!--</form>-->

    <!-- refactoring the form to use FORM MODEL BINDING -->
    <form th:action="'/posts/' + ${post.id} + '/edit'" method="post" th:object="${post}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <input th:field="*{body}" />
        <br />
        <input type="submit" />
    </form>
</main>
<div th:replace="partials :: scripts"></div>
</body>
</html>