<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')">
</head>
<body>
<nav th:replace="partials :: navbar" />

<main role="main" class="container">
    <!--<h1>Hello! This is Stephen</h1>-->
    <!--<h1>This is my home page</h1>-->

    <!--<h3>Lucky number is: <span th:text="${number}"></span></h3>-->

    <!--<div th:if="${number > 50}">-->
    <!--The random number is greater than 50!-->
    <!--</div>-->



    <!--<h2>Everything is awesome!</h2>-->
    <br />

    <h1>Here are some inspiring quote:</h1>
    <br />
    <!--<div class="quote" th:each="quote : ${quotes}">-->
        <!--<h3 th:text="${quote.quote}" />-->
        <!--<p th:text="${quote.author}" />-->
    <!--</div>-->
    <ul class="p-3 mb-2 bg-primary text-dark">
        <li th:each="quote : ${quotes}" class="card">
            <div class="card-body">
                <h5 class="card-title"><span th:text="${quote.quote}"></span></h5>
                <p class="card-text"><span th:text="${quote.author}"></span></p>
            </div>
        </li>
    </ul>
</main>
<div th:replace="partials :: scripts"></div>

</body>
</html>